*.log
*.jou
*.analytics
.metadata/
.sdk/
.Xil/
RemoteSystemTempFiles/
webtalk/
sha256.tmp/
sha256.cache/
.log/
work/Vivado/Basys3/*
work/Vivado/Ultra96v2/*
!work/Vivado/Basys3/*.xpr
!work/Vivado/Ultra96v2/*.xpr